body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 20px;
}

#laughterButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#laughterContainer {
    display: none;
    margin-top: 20px;
}

#laughterImage {
    max-width: 100%;
}